/* 引入字体图标 */
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?cif9la');
	src:  url('../fonts/icomoon.eot?cif9la#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?cif9la') format('truetype'),
	  url('../fonts/icomoon.woff?cif9la') format('woff'),
	  url('../fonts/icomoon.svg?cif9la#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* 设置版心宽度 */
.w {
	width: 1200px;
	margin: 0 auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.font-red {
	color: #c81623;
}

/* 顶部快捷导航栏 */
/* 最外层的通栏大盒子 */
.shortcut {
	height: 31px;
	background-color: #f1f1f1;
	line-height: 31px;
	color: #666666;
}

/* shortcut 栏中所有 li 元素左浮动 */
.shortcut ul li {
	float: left;
}

/* 右侧导航栏的分隔线 */
.shortcut .float-right ul li:nth-child(even) {
	width: 1px;
	height: 12px;
	margin: 9px 14px 0;
	background-color: #666666;
}

/* 右侧导航栏下拉箭头 */
.shortcut .float-right .arrow-down::after {
	margin-left: 10px;
	content: "\e900";
	font-family: 'icomoon';
}

/* Header 部分 */
.header {
	position: relative;
	height: 105px;
}

/* 左侧 Logo */
.header .logo {
	position: absolute;
	top: 24px;
	left: 3px;
}

.header .logo a {
	display: block;
	width: 171px;
	height: 61px;
	background: url(../images/logo.png);
	font-size: 0;
}

/* 中间搜索框 */
.header .search {
	position: absolute;
	top: 25px;
	left: 347px;
	width: 538px;
	height: 36px;
	border: 2px solid #b1191a;
}

.header .search input {
	width: 454px;
	height: 32px;
	padding-left: 10px;
	font-size: 14px;
}

/* 这里单拿出来 search 这个 input 类型，因为 Safari 会给他添加奇怪的属性，必须要去掉 */
input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.header .search button {
	width: 80px;
	height: 32px;
	background-color: #b1191a;
	font-size: 16px;
	color: #ffffff;
}

/* 中间热搜词 */
.header .hotwords {
	position: absolute;
	top: 69px;
	left: 347px;
}

.header .hotwords ul li {
	float: left;
	padding: 0 12px;

}

/* 右侧购物车 */
.header .cart {
	position: absolute;
	top: 25px;
	right: 63px;
	width: 140px;
	height: 36px;
	background-color: #f7f7f7;
	border: 1px solid #dfdfdf;
	line-height: 34px;
	text-align: center;
}

.header .cart a::before {
	font-family: 'icomoon';
	content: '\e93a';
	color: #d95252;
	margin-right: 7px;
}

.header .cart a::after {
	content: '\e902';
	font-family: 'icomoon';
	margin-left: 10px;
}

.header .cart .badge {
	position: absolute;
	top: -5px;
	left: 105px;
	height: 14px;
	padding: 0 5px;
	border-radius: 7px 7px 7px 0;
	background-color: #e60012;
	color: #ffffff;
	line-height: 14px;
}
