/* 首页 main 模块 */
.main {
	width: 980px;
	height: 455px;
	margin: 10px 0 0 219px;
	/* background-color: pink; */
}

/* 中间轮播图模块 */
.focus {
	position: relative;
	float: left;
	width: 721px;
	height: 455px;
	overflow: hidden;
}

/* 这里加绝对定位是为了实现动画效果 */
/* 并且使用子代选择器是为了防止对指示灯 ul 的影响 */
.focus>ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
}

.focus ul li {
	float: left;
}

.focus ul li img {
	width: 100%;
	height: 100%;
}

/* 轮播图翻页箭头 */
.focus .prev,
.focus .next {
	display: none;
	position: absolute;
	top: 227px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	background: rgba(0, 0, 0, .2);
	line-height: 30px;
	text-align: center;
	font-family: 'icomoon';
	font-size: 20px;
	color: rgba(255, 255, 255, .7);
}

.focus .prev:hover,
.focus .next:hover {
	background: rgba(0, 0, 0, .4);
	/* color: #c81623; */
}

.focus .prev {
	left: 0;
	border-radius: 0 15px 15px 0;
	text-indent: -3px;
}

.focus .prev::after {
	content: '\e901';
}

.focus .next {
	right: 0;
	border-radius: 15px 0 0 15px;
	text-indent: 3px;
}

.focus .next::after {
	content: '\e902';
}

/* 轮播图指示灯 */
.nav-indicator {
	position: absolute;
	left: 50%;
	bottom: 15px;
	padding: 3px 5px;
	padding-right: 0;
	background: rgba(0, 0, 0, .3);
	border-radius: 9px;
}

.nav-indicator ul li {
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 5px;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 50%;
	cursor: pointer;
}

.nav-indicator .selected {
	background: rgba(255, 255, 255, 1);
}

/* 右侧新闻模块 */
.newsflash {
	float: right;
	width: 250px;
	height: 455px;
	/* background-color: skyblue; */
}

/* 上半部分新闻 */
.news {
	width: 250px;
	height: 165px;
	border: 1px solid #e4e4e4;
	/* background-color: pink; */
}

/* 新闻标题栏 */
.news .news-header {
	width: 248px;
	height: 33px;
	padding: 0 15px;
	border-bottom: 1px dotted #e4e4e4;
	line-height: 32px;
}

.news .news-header h4 {
	float: left;
	font-size: 14px;
	color: #333333;
}

.news .news-header .more {
	float: right;
}

.news .news-header .more::after {
	font-family: 'icomoon';
	content: '\e902';
}

/* 新闻栏 */
.news .news-body {
	padding: 5px 15px 0;
}

.news .news-body ul li {
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* 中间生活服务 */
.life-service {
	height: 209px;
	border-left: 1px solid #e4e4e4;
	background: url(../images/icons.png) no-repeat 2px 0;
}

.life-service ul li {
	float: left;
}

.life-service ul li a {
	display: block;
	width: 63px;
	height: 71px;
	padding-top: 45px;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	text-align: center;
}

/* 每行最后一个元素宽度窄一点 */
.life-service ul li:nth-child(4n) a {
	width: 60px;
}

/* 最后一行元素高度矮一点 */
.life-service ul li:nth-child(n+9) a {
	height: 67px;
}


/* 下面甩卖 */
.bargain {
	width: 250px;
	height: 75px;
	margin-top: 6px;
}

.bargain img {
	width: 100%;
	height: 100%;
}

/* 今日推荐 */
.recom {
	height: 163px;
	margin-top: 11px;
	background-color: #ebebeb;
}

.recom-head {
	float: left;
	width: 206px;
	height: 163px;
	background-color: #5c5251;
	text-align: center;
}

.recom-head img {
	margin-top: 31px;
}

.recom-body {
	float: left;
	margin-left: 2px;
}

.recom-body ul li {
	float: left;
}

.recom-body ul li a {
	position: relative;
	display: block;
	/* 比图片宽 1 像素，用来放分隔符 */
	width: 248px;
	height: 163px;
	/* background-color: skyblue; */
}

/* 中间分隔线 */
.recom-body ul li:nth-child(-n+3) a::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 0;
	width: 1px;
	height: 143px;
	background-color: #dddddd;
}

/* 固定图片尺寸 */
.recom-body ul li a img {
	width: 247px;
	height: 163px;
}

/* for you 猜你喜欢 */
.for-you {
	height: 272px;
	margin-top: 20px;
	/* background-color: pink; */
}

/* 顶部标题栏 */
.for-you .head {
	height: 39px;
	line-height: 39px;
	/* background-color: skyblue; */
}

.for-you .head h3 {
	float: left;
	font-size: 18px;
	font-weight: 400;
	color: #333333;
}

/* 标题栏右侧换一批 */
.for-you .head .change {
	float: right;
}

.for-you .head .change::after {
	display: block;
	float: right;
	width: 14px;
	height: 14px;
	margin: 12px 0 0 8px;
	background: url(../images/icons.png) no-repeat -421px -111px;
	content: '';
}

/* 为你推荐的商品栏 */
.for-you .body {
	height: 233px;
	border: 1px solid #ededed;
	/* background-color: skyblue; */
}

.for-you .body ul li {
	float: left;
}

.for-you .body ul li a {
	position: relative;
	display: block;
	width: 200px;
	height: 231px;
	/* 这里加 overflow 是为了解决和 thumbnail 外边距合并的问题 */
	overflow: hidden;
	/* 也可以通过对外面盒子加 padding 解决 */
	/* padding-top: 10px; */
	/* background-color: pink; */
}

.for-you .body ul li:last-child a {
	width: 198px;
}

.for-you .body ul li:nth-child(-n+5) a::after {
	position: absolute;
	bottom: 9px;
	right: 0;
	width: 1px;
	height: 62px;
	background-color: #ededed;
	content: '';
}

.thumbnail {
	width: 150px;
	height: 150px;
	margin: 10px auto 0;
	/* margin: auto; */
}

.thumbnail img {
	width: 100%;
	height: 100%;
}

.brand,
.description,
.for-you .body .price {
	margin: auto;
	width: 120px;
	font-size: 12px;
}

.description {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.for-you .body .price {
	margin: auto;
	width: 120px;
	font-size: 18px;
	color: #df3033;
}

/* 楼层 */
/* 一楼 家用电器 */
.floor .w {
	height: 477px;
	margin-top: 26px;
	/* background-color: pink; */
}

.box-head {
	height: 32px;
	border-bottom: 2px solid #c81623;
}

.box-head h3 {
	float: left;
	font-size: 18px;
	font-weight: 400;
	color: #c81623;
}

.box-head .tab-list {
	float: right;
	line-height: 30px;
}

.box-head .tab-list ul li {
	float: left;
}

.box-head .tab-list ul li a {
	margin: 0 14px;
}

.box-head .tab-list ul li:last-child a {
	margin-right: 0;
}

.box-body {
	height: 360px;
	margin-bottom: 20px;
	/* background-color: pink; */
}

.tab-list-item>div {
	float: left;
	height: 360px;
}

.col-210 {
	width: 210px;
	background-color: #f9f9f9;
}

.col-330 {
	position: relative;
	width: 330px;
	background-color: #aed6d8;
}

.col-220 {
	width: 220px;
	/* background-color: skyblue; */
}

.col-210 ul {
	padding-left: 13px;
}

.col-210 ul li {
	float: left;
	width: 86px;
	height: 33px;
	margin-right: 12px;
	border-bottom: 1px solid #ededed;
	line-height: 32px;
	text-align: center;
}

.col-220 a {
	display: block;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}

.col-330 ul {
	position: absolute;
	bottom: 16px;
	left: 165px;
	margin-left: -22px;
	width: 45px;
	height: 10px;
	/* background-color: #fff; */
}

.col-330 ul li {
	float: left;
	width: 10px;
	height: 10px;
	margin-right: 7px;
	border-radius: 50%;
	background-color: #3e3e3e;
}

.col-330 ul li:last-child {
	margin: 0;
}

.col-330 ul .selected {
	background-color: #fff;
}

.box-footer {
	height: 65px;
	background-color: #f7f7f7;
}

.box-footer ul li {
	float: left;
	margin-top: 13px;
}

.box-footer ul li a {
	display: block;
	width: 120px;
	height: 39px;
	border-right: 1px dotted #cccccc;
	text-align: center;
}

.box-footer ul li:last-child a {
	border: 0;
}
