body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 28px;
}

h1 {
	font-weight: 400;
	text-align: center;
}

#info {
	text-align: center;
}

span {
	font-size: 12px;
	color: #888888;
}

a {
	text-decoration: none;
}

#search {
	color: #666666;
	width: 170px;
}

button {
	font-weight: 700;
}

p {
	text-indent: 2em;
}

#div-img {
	text-align: center;
}